# ==========================================
#  ENTORNOS VIRTUALES
# ==========================================
env/
venv/
.venv/
ENV/

# ==========================================
# 2. ARCHIVOS COMPILADOS DE PYTHON
# ==========================================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# 3. ARCHIVOS DE CONFIGURACIÓN DEL EDITOR
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# 4. BASES DE DATOS LOCALES Y LOGS (Si aplica)
# ==========================================
*.sqlite3
*.log

# ==========================================
# VARIABLES DE ENTORNO 
# ==========================================
.env

# ==========================================
# 5. ARCHIVOS MULTIMEDIA / SUBIDOS (MEDIA)
# ==========================================
# Ignora los PDFs reales que se suban a la aplicación en el futuro
media/
certificados/