# generar nueva llave con
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())" 
SECRET_KEY=cambia-esto-por-una-clave-secreta-unica

# True solo en desarrollo local. En producción SIEMPRE debe ser False.
DEBUG=True

# Hosts separados por coma permitidos a servir la app (obligatorio si DEBUG=False)
ALLOWED_HOSTS=127.0.0.1,localhost

# Credenciales de la base de datos MySQL local
DB_NAME=certichain_db
DB_USER=tu_usuario_local
DB_PASSWORD=tu_contraseña_local
DB_HOST=localhost
DB_PORT=3306

# Dominios del frontend permitidos a llamar la API (separados por coma)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
